{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "node": true,
    "es6": true
  },
  "settings": {
    "import/extensions": [".ts"],
    "import/resolver": {
      "node": {
        "extensions": [".ts"],
        "moduleDirectory": ["node_modules", "."]
      }
    }
  },
  "rules": {
    "no-console": "warn",
    "@typescript-eslint/ban-ts-ignore": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/camelcase": "off",
    "import/no-anonymous-default-export": ["error"]
  }
}
